<div>
    <h1>Aboutus Page</h1>
    <p>Newgen Softtech is a modern Software Technology Training cum Development Company situated in Pune, India that
        trains students or fresher’s and transforms them into professionals and also trains professionals to transform
        them into absolute master of the domain technologies.</p>
    <p>we are harnessing the power of online education in new, innovative ways. Combining emerging web and mobile
        technologies with proven teaching methodologies, we are inspiring students to take control of their learning
        experience. Mind Over Tutors, Inc. provides a stepping stone for our students to reach the future they envision.
        We reach parents, teachers and students through blogs, podcasts, online courses and webinars. We also send
        Instructional Designers out into the community.</p>
</div>